/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  background: #071417;
  color: #c6d4d4;
}

/* ***************************************************************** */
/*                              HEADER                               */
/*               (desktop first approach only for HEADER)            */
/* ***************************************************************** */

.site-header {
  display: flex;
  justify-content: space-between;
  background: #071417;
  letter-spacing: 1.1px;
  border-bottom: 2px solid #c6d4d4;
}

.site-header a {
  text-decoration: none;
  color: inherit;
}

.site-header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-title {
  padding-left: 1.2em;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1em;
}

.nav-btn {
  display: none;
}

.nav-container li {
  display: block;
  padding-left: 0.5em;
}

.nav-container a {
  display: block;
  padding: 0.5em 0.8em;
}

.nav-container a:hover,
.nav-container a:focus {
  background: #c6d4d4;
  border-radius: 3px;
  color: #000;
}

.nav-container a.active {
  background: #c6d4d4;
  color: #000;
  border-radius: 3px;
}

@media (max-width: 35em) {
  .nav-container {
    position: fixed;
    height: 100vh;
    background: #071417;
    opacity: 0.96;
    z-index: 9999;
    width: 80%;
    justify-content: start;
    border-left: 2px solid black;
    color: inherit;
    right: 0;
    text-align: center;
    padding-right: 0;
    transform: translateX(100%);
  }

  .nav-container li {
    display: flex;
    justify-content: center;
    padding: 0.2em 0;
  }

  .nav-container a {
    padding: 0.7em 4em;
  }

  .nav-container a.active {
    background: #c6d4d4;
    color: #000;
  }

  .btn-toggle {
    transform: translateX(0%);
    transition: transform 350ms ease-out;
  }

  .nav-btn {
    display: block;
    top: 0;
    right: 0;
    z-index: 10000;
    padding: 0.7em;
    background: #071417;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav-btn path {
    fill: #c6d4d4;
    stroke: #c6d4d4;
  }

  .position-fixed {
    position: fixed;
  }

  .site-header ul {
    flex-direction: column;
  }

  .site-nav {
    padding-top: min(20vh, 5em);
  }
}

/* ***************************************************************** */
/*                           SIGNUP/LOGIN PAGE                       */
/* ***************************************************************** */

.singup-form-container,
.login-form-container {
  width: 90%;
  max-width: 490px;
  margin: 3em auto 1em;
  background: #c6d4d4;
  color: #071417;
  padding: 1em;
  border-radius: 5px;
}

.singup-form-container form,
.login-form-container form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em 0;
}

.singup-form-container h1,
.login-form-container h1 {
  margin: 0.6em auto;
}

.signup-button,
.login-button {
  background: #071417;
  color: #c6d4d4;
  width: 80%;
  max-width: 200px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  padding: 1em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.login-button {
  margin-top: 3em;
}

.signup-button:hover,
.signup-button:focus,
.login-button:hover,
.login-button:focus {
  background: #000;
  color: #f6fbf4;
}

.singup-form-container input,
.login-form-container input {
  background: #c6d4d4;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-bottom: 1px solid #000;
  font-size: 1rem;
}

.signup-error-msg,
.login-error-msg {
  display: flex;
  justify-content: flex-start;
  background: rgb(255 5 0 / 49%);
  padding: 1em;
  border: 2px solid #900;
  border-radius: 5px;
}

.signup-error-sign,
.login-error-sign {
  width: 3em;
  margin-right: 0.5em;
}

.button-disable {
  cursor: not-allowed;
  opacity: 0.6;
}

.signup-loading-msg,
.login-loading-msg {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  background: #c6d4d4;
  padding: 1em;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.2),
    0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ***************************************************************** */
/*                     HOME PAGE, WISHLIST PAGE                      */
/* ***************************************************************** */

.home-search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #071417;
  padding: 0.5em 0.5em 0.5em;
  position: sticky;
  z-index: 999;
  top: 0;
}

.home-search-container {
  display: flex;
  width: 95%;
  max-width: 680px;
}

.home-search-bar {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.5em 0.7em;
  border: none;
  border-radius: 6px;
  background: #c6d4d4;
}

.home-search-button {
  background: #c6d4d4;
  color: #000;
  border: none;
  border-left: 2px solid #000;
  padding: 0.5em;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
}

.home-show-filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1em 0;
  width: 95%;
  max-width: 680px;
}

.home-show-filter-button {
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 0.3em;
  color: #c6d4d4;
  background: #071417;
  border: none;
  padding: 0;
  font-size: 0.95rem;
  cursor: pointer;
}

.home-products-container {
  display: flex;
  gap: 1em;
}

.home-products-filters-section {
  background: #071417;
  width: 0;
  position: fixed;
  transform: translateX(-100em);
}

.expand-filter-section {
  width: 100%;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 10001;
  transform: translateX(0em);
  transition: transform 350ms ease-out;
}

.filters-header {
  display: flex;
  justify-content: space-between;
  background: #c6d4d4;
  color: #071417;
  position: sticky;
  top: 0;
}

.filters-header h4 {
  margin: 0.4em;
}

.filters-close-button {
  display: block;
  background: #c6d4d4;
  color: #000;
  border: none;
  cursor: pointer;
}

.filters-sub-container {
  padding-left: 0.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #c6d4d4;
}

.filter-price-container,
.filter-checkbox-container {
  display: flex;
  align-items: flex-start;
}

.filter-price-container {
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}

.filter-price-container input {
  border: none;
  outline: none;
  background: #c6d4d4;
  color: #000;
  width: 50%;
  padding: 0.5em;
}

.filter-checkbox-container input {
  display: block;
  margin-right: 1em;
  margin-bottom: 0.7em;
}

.filter-apply-container {
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
  background: #071417;
}

.filter-apply-container button {
  border: none;
  cursor: pointer;
  padding: 0.5em 2em;
  background: #c6d4d4;
  border-radius: 4px;
  color: #000;
}

/* product display styles */

.home-products-display-section,
.wishlist-products-display-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  padding: 0.3em;
}

.wishlist-products-display-section {
  padding-top: 2em;
}

.home-product-container,
.wishlist-product-container {
  background: #fff;
  color: #071417;
  height: fit-content;
  border-radius: 5px;
}

.home-product-upper-container,
.wishlist-product-upper-container {
  position: relative;
}

.home-product-rating-wish-container,
.wishlist-product-rating-wish-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 1em;
}

.home-product-rating,
.wishlist-product-rating {
  display: flex;
  gap: 0.8em;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  border-radius: 5px;
  background: #071417;
  color: #c6d4d4;
  font-weight: bold;
  padding: 0.5em 0.7em;
  margin-left: 0.4em;
}

.home-product-wishlist-button,
.wishlist-product-wishlist-button {
  background: #fff;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  padding: 0.2em;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 0.2em;
}

.home-product-wishlist-button-heart,
.wishlist-product-wishlist-button-trash {
  color: #071417;
  transition: background 350ms ease-out;
}

.home-product-wishlist-button-heart:hover,
.wishlist-product-wishlist-button-trash:hover {
  color: #e1363c;
}

.home-product-image,
.wishlist-product-image {
  height: 180px;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.home-product-lower-container,
.wishlist-product-lower-container {
  padding: 0.5em;
  border-top: 1px solid #071417;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.home-product-brand,
.wishlist-product-brand {
  font-weight: bold;
  font-size: 0.9rem;
}

.home-product-name,
.wishlist-product-name {
  font-size: 0.78rem;
  font-weight: 100;
  letter-spacing: 1px;
  min-height: 40px;
  line-height: 1.2rem;
}

.home-product-size-color-container,
.wishlist-product-size-color-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}

.home-product-size-color-container p,
.wishlist-product-size-color-container p {
  background: #071417;
  color: #c6d4d4;
  margin: 0;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.home-product-price {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.home-product-link,
.wishlist-product-link {
  text-decoration: none;
  color: #000;
}

@media (min-width: 550px) {
  .home-product-image,
  .wishlist-product-image {
    height: 230px;
  }

  .home-products-display-section,
  .wishlist-products-display-section {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    padding: 0.3em;
  }
}

@media (min-width: 800px) {
  .home-products-filters-section {
    background: #071417;
    width: 25%;
    align-self: flex-start;
    position: static;
    transform: translateX(0em);
  }

  .home-products-display-section {
    grid-template-columns: 1fr 1fr 1fr;
    width: 73%;
  }

  .wishlist-products-display-section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .filters-close-button,
  .home-show-filter-button {
    display: none;
  }

  .filters-header {
    position: static;
  }
}

.wishlist-container {
  padding-top: 1.9em;
}

@media (min-width: 1230px) {
  .home-products-display-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .wishlist-products-display-section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 2000px) {
  .home-products-display-section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .wishlist-products-display-section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

/* ***************************************************************** */
/*                         SINGLE PRODUCT PAGE                       */
/* ***************************************************************** */

.single-shoe-container {
  max-width: 1500px;
  margin: 0 auto;
}

.single-shoe-container,
.single-shoe-image-container {
  display: flex;
  flex-direction: column;
}

.single-shoe-image-container {
  gap: 1em;
  height: 100%;
}

.single-shoe-images-in-display-container {
  background: #fff;
  width: 98%;
  margin: 1em auto 0;
  border: 2px solid #94918d;
  height: 70%;
  border-radius: 5px;
}

.single-shoe-images-in-display-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  border-radius: 5px;
}

.single-shoe-images-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  width: 96%;
  margin: 0 auto;
}

.single-shoe-images-list div {
  width: 55px;
  height: fit-content;
  border: 2px solid #c6d4d4;
  background: #fff;
  border-radius: 5px;
}

.single-shoe-images-list div:hover,
.single-shoe-images-list div:focus {
  border: 2px solid #e09e63;
}

.single-shoe-image-in-list {
  height: 40px;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.single-shoe-desc-section {
  padding: 0 0.5em;
}

.single-shoe-desc-name {
  font-size: 1.8rem;
}

.single-shoe-desc-brand-rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-shoe-desc-rating-container {
  display: flex;
  align-items: center;
}

.single-shoe-desc-rating-container * {
  color: #e88c22;
}

.single-shoe-desc-rating-container p {
  font-size: 0.8rem;
  color: #c6d4d4;
  margin: 0;
  margin-right: 0.3em;
}

.single-shoe-desc-size-container,
.single-shoe-desc-color-container {
  display: flex;
  align-items: center;
}

.single-shoe-desc-size-container *,
.single-shoe-desc-color-container * {
  width: fit-content;
  background: #1d2a33;
  color: #c6d4d4;
  padding: 0.6em 0.8em;
  margin-top: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.single-shoe-desc-size,
.single-shoe-desc-color {
  background: #c6d4d4;
  color: #071417;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.single-shoe-desc-price {
  display: flex;
  align-items: flex-start;
  padding: 1em 0;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.single-shoe-add-to-cart-button,
.single-shoe-buy-now-link {
  background: #c6d4d4;
  display: block;
  width: 95%;
  margin: 1em auto;
  padding: 1em 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.single-shoe-buy-now-link {
  text-decoration: none;
  text-align: center;
  color: #071417;
}

.single-shoe-add-to-cart-button:hover,
.single-shoe-add-to-cart-button:focus,
.single-shoe-buy-now-link:hover,
.single-shoe-buy-now-link:focus {
  background: #e5e4eb;
}

@media (min-width: 600px) {
  .single-shoe-container {
    flex-direction: row;
  }

  .single-shoe-image-container {
    flex-direction: row;
  }

  .single-shoe-images-in-display-container {
    order: 2;
  }

  .single-shoe-images-list {
    padding-top: 1em;
    flex-direction: column;
    order: 1;
    width: fit-content;
  }

  .single-shoe-desc-section,
  .single-shoe-image-section {
    width: 50%;
  }
}

/* ***************************************************************** */
/*                              CART PAGE                            */
/* ***************************************************************** */

.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-buy-section {
  width: 95%;
  margin: 1em auto;
}

.cart-buy-sticky-conatiner {
  padding: 1em;
  background: #c6d4d4;
  margin: 1em auto;
  color: #071417;
  border-radius: 6px;
}

.cart-total-amount-container {
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
  flex-direction: column;
}

.cart-total-amount-container p {
  font-weight: bold;
  margin: 0;
}

.cart-total-amount {
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
}

.cart-rupee-icon {
  align-self: flex-start;
  font-size: 1.1rem;
  padding-top: 0.15em;
}

.cart-buy-link {
  text-align: center;
  text-decoration: none;
  background: #eab52d;
  display: block;
  width: 100%;
  margin: 0 auto 1em auto;
  padding: 1em 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: #071417;
}

.cart-buy-link:hover,
.cart-buy-link:focus {
  background: #eace2d;
}

.cart-product-info-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 1em auto;
  border: 2px solid #c6d4d4;
  border-radius: 6px;
}

.cart-product-image-container {
  width: 95%;
  margin: 0.4em auto;
  border-radius: 6px;
}

.cart-product-image-container img {
  width: 100%;
  display: block;
  object-fit: contain;
  border-radius: 6px;
}

.cart-product-quantity-container {
  width: 95%;
  margin: 0.4em auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cart-product-quantity-increase-button,
.cart-product-quantity-decrease-button,
.cart-product-current-quantity {
  display: block;
  width: 100%;
  padding: 0.5em 0.6em;
  border: none;
  border-top: 1.5px solid #c6d4d4;
  border-bottom: 1.5px solid #c6d4d4;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.cart-product-quantity-increase-button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.cart-product-quantity-increase-button:hover,
.cart-product-quantity-increase-button:focus {
  background: #44ad7a;
}

.cart-product-quantity-decrease-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.cart-product-quantity-decrease-button:hover,
.cart-product-quantity-decrease-button:focus {
  background: #ff777c;
}

.cart-product-current-quantity {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.cart-product-description-container {
  width: 95%;
  margin: 0.4em auto;
}

.cart-product-name {
  font-size: 1.4rem;
}

.cart-product-name,
.cart-product-brand {
  font-weight: bold;
}

.cart-product-size-container,
.cart-product-color-container {
  display: flex;
  align-items: center;
}

.cart-product-size-container *,
.cart-product-color-container * {
  width: fit-content;
  background: #1d2a33;
  color: #c6d4d4;
  padding: 0.6em 0.8em;
  margin-top: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.cart-product-size,
.cart-product-color {
  background: #c6d4d4;
  color: #071417;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cart-product-price {
  display: flex;
  align-items: flex-start;
  padding: 1em 0 0 0;
  margin: 0.4em 0;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.cart-product-remove-button {
  display: block;
  align-self: center;
  margin-left: auto;
  padding: 0.4em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: #c6d4d4;
}

.cart-product-remove-button:hover,
.cart-product-remove-button:focus {
  background: #ff777c;
}

@media (min-width: 700px) {
  .cart-product-info-container {
    display: flex;
    flex-direction: row;
  }

  .cart-product-remove-button {
    margin-right: 0.8em;
  }

  .cart-product-description-container {
    display: flex;
    flex-direction: column;
  }

  .cart-product-price {
    margin-top: auto;
  }
}

@media (min-width: 550px) {
  .cart-total-amount-container {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 800px) {
  .cart-container {
    flex-direction: row;
  }

  .cart-buy-section {
    order: 2;
    width: 40%;
    align-items: flex-start;
  }

  .cart-buy-sticky-conatiner {
    position: sticky;
    top: 0.5em;
    margin-right: 1em;
  }

  .cart-total-amount-container {
    font-size: 0.7rem;
  }
}

/* ***************************************************************** */
/*                      REACT TOAST COLOR OVERWRITE                  */
/* ***************************************************************** */

:root {
  --toastify-color-light: #c6d4d4;
  --toastify-color-progress-light: #424341;
  --toastify-text-color-light: #071417;
}

/* ***************************************************************** */
/*                           ADMIN LAYOUT PAGE                       */
/* ***************************************************************** */

.admin-layout-navbar {
  padding: 0.7em 1em 1em;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7rem;
  align-items: center;
  gap: 2em;
}

.admin-layout-link-container {
  color: #c6d4d4;
  border-radius: 5px;
  border: 1px solid #c6d4d4;
}

.admin-layout-navbar a {
  display: block;
  text-decoration: none;
  color: #c6d4d4;
  padding: 0.7em 1em;
  border-radius: 5px;
}

.admin-layout-navbar a:hover,
.admin-layout-navbar a:focus {
  background: #c6d4d4;
  color: #071417;
  border: none;
}

.admin-layout-navbar a.active {
  background: #c6d4d4;
  color: #071417;
}

@media (min-width: 480px) {
  .admin-layout-navbar {
    font-size: 0.9rem;
  }
}

/* ***************************************************************** */
/*                          UPLOAD SHOE PAGE                         */
/* ***************************************************************** */

.upload-shoe-container {
  width: 95%;
  margin: 3em auto;
  background: #c6d4d4;
  color: #071417;
  border-radius: 6px;
}

.upload-shoe-container h1 {
  text-align: center;
  padding-top: 1em;
}

.upload-shoe-form {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.upload-shoe-form input {
  outline: none;
  display: block;
  width: 100%;
  background: #c6d4d4;
  border: none;
  border-bottom: 1px solid #071417;
  padding: 1em 1em 0.5em 1em;
  margin-bottom: 1em;
  font-size: 1.3rem;
}

.upload-shoe-form input::placeholder {
  color: #3f4444;
}

.upload-shoe-gender-category {
  display: flex;
  align-items: center;
  padding: 1em 1em 0.5em 0;
}

.upload-shoe-gender-category select {
  margin-left: 1em;
  padding: 1em 2em 1em 1em;
  border-radius: 3px;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.8);
  color: #f6fbf4;
}

.upload-shoe-gender-category select:hover,
.upload-shoe-gender-category select:focus {
  background: #000;
}

.upload-shoe-gender-category option {
  font-size: 1.3rem;
}

.upload-shoe-gender-category label {
  padding: 1em;
  font-size: 1.3rem;
  color: #3f4444;
}

.upload-shoe-image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.upload-shoe-image-container label {
  padding: 0em 2em 1em 1em;
  margin-top: 2em;
  color: #3f4444;
  font-size: 1.3rem;
}

.upload-shoe-image-container input {
  border-radius: 6px;
  border: none;
  padding: 1em;
  background: #071417;
  color: #c6d4d4;
}

.upload-shoe-image-container input:hover,
.upload-shoe-image-container input:focus {
  background: #000;
}

.upload-shoe-submit-button {
  width: 85%;
  max-width: 400px;
  margin: 3.5em auto 2em auto;
  padding: 1em 2em;
  border: none;
  outline: none;
  display: block;
  background: #071417;
  color: #c6d4d4;
  font-size: 1rem;
  border-radius: 6px;
}

.upload-shoe-submit-button:hover,
.upload-shoe-submit-button:focus {
  background: #000;
}

/* ***************************************************************** */
/*                          UPLOAD SHOE PAGE                         */
/* ***************************************************************** */

.order-summay-section,
.order-summary-delivery-address-section {
  width: 95%;
  margin: 1.5em auto;
  background: #c6d4d4;
  color: #000;
  padding: 1em 0.5em;
  border-radius: 6px;
}

.order-summay-section h1 {
  text-align: center;
}

.order-summay-product-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5em;
  margin: 1em 0;
}

.order-summay-product-name,
.order-summay-product-quantity,
.order-summay-product-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-summay-product-name {
  justify-content: flex-start;
  padding-left: 1em;
}

.order-summay-product-price {
  justify-content: flex-end;
  padding-right: 1em;
}

.order-summay-product-info:nth-child(2) {
  background: #071417;
  color: #c6d4d4;
  border-radius: 6px;
  padding: 1em 0;
  font-weight: bold;
}

.order-summary-delivery-address-section {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.order-summary-delivery-address-textarea {
  min-height: 140px;
  border: 2px solid #071417;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 0.5em;
  resize: none;
  display: block;
}

.order-summary-proceed-to-pay-link {
  background: #071417;
  color: #c6d4d4;
  max-height: 3.4em;
  width: 95%;
  margin: 1em auto;
  padding: 1em 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

.order-summary-proceed-to-pay-link:hover,
.order-summary-proceed-to-pay-link:focus {
  background: #000;
}

.order-summary-cart-total {
  background: #071417;
  color: #c6d4d4;
  width: fit-content;
  padding: 1em;
  border-radius: 6px;
  display: flex;
  gap: 1em;
  margin-left: auto;
}

@media (min-width: 820px) {
  .order-summary-conatiner {
    display: flex;
  }

  .order-summay-section {
    width: 69%;
  }

  .order-summary-delivery-address-section {
    width: 30%;
  }
}

/* ***************************************************************** */
/*                           CHECKOUT FORM                           */
/* ***************************************************************** */

.pay {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#payment-form {
  background: #c6d4d4;
  color: #071417;
  padding: 1.4em;
  width: 95%;
  margin: 2em auto 0;
  align-self: center;
  box-shadow:
    0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1),
    0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
}

#payment-element {
  margin-bottom: 1.7em;
}

#payment-submit-button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

#payment-submit-button:hover {
  filter: contrast(115%);
}

#payment-submit-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.payment-spinner,
.payment-spinner:before,
.payment-spinner:after {
  border-radius: 50%;
}

.payment-spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.payment-spinner:before,
.payment-spinner:after {
  position: absolute;
  content: "";
}

.payment-spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.payment-spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ***************************************************************** */
/*                         PAYMENT SUCCESS PAGE                      */
/* ***************************************************************** */

.payment-success-page-container {
  width: 90%;
  margin: 2em auto;
  padding: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #44ad7a;
  color: #071417;
  border-radius: 6px;
}

.payment-success-page-container p {
  letter-spacing: 1.3px;
  line-height: 1.4rem;
  font-size: 1rem;
}

@media (min-width: 380px) {
  .payment-success-page-container p {
    letter-spacing: 1.6px;
    line-height: 1.8rem;
    font-size: 1.3rem;
  }
}

/* ***************************************************************** */
/*                            ORDERS PAGE                            */
/* ***************************************************************** */

.orders-section {
  width: 96%;
  margin: 1em auto 0;
}

.order-container {
  background: #c6d4d4;
  color: #071417;
  margin: 1em 0;
  padding: 1em;
  border-radius: 4px;
  max-width: 800px;
}

.order-product-container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 0.3em 0.7em;
  color: #071417;
  text-decoration: none;
}

.order-product-container:hover,
.order-product-container:focus {
  background: #448e82;
  border-radius: 4px;
  color: #071417;
}

.order-product-container:first-child {
  background: #071417;
  padding: 1em;
  margin: 0 0 0.4em;
  color: #c6d4d4;
  border-radius: 4px;
}


.order-price-container {
  background: #44ad7a;
  padding: 0.4em 0.7em;
  margin: 0.4em 0 1em;
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.order-price-label {
  padding: 0.5em 1em;
}

.order-price {
  font-weight: bold;
  font-size: 1.3rem;
}

.order-date-time {
  display: block;
  font-size: 0.8rem;
  padding-left: 1em;
}
