/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  background: #071417;
  color: #c6d4d4;
}

/* ***************************************************************** */
/*                              HEADER                               */
/*               (desktop first approach only for HEADER)            */
/* ***************************************************************** */

.site-header {
  display: flex;
  justify-content: space-between;
  background: #071417;
  letter-spacing: 1.1px;
  border-bottom: 2px solid #c6d4d4;
}

.site-header a {
  text-decoration: none;
  color: inherit;
}

.site-header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-title {
  padding-left: 1.2em;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1em;
}

.nav-btn {
  display: none;
}

.nav-container li {
  display: block;
  padding-left: 0.5em;
}

.nav-container a {
  display: block;
  padding: 0.5em 0.8em;
}

.nav-container a:hover,
.nav-container a:focus {
  background: #c6d4d4;
  border-radius: 3px;
  color: #000;
}

.nav-container a.active {
  background: #c6d4d4;
  color: #000;
  border-radius: 3px;
}

@media (max-width: 35em) {
  .nav-container {
    position: fixed;
    height: 100vh;
    background: #071417;
    opacity: 0.96;
    z-index: 9999;
    width: 80%;
    justify-content: start;
    border-left: 2px solid black;
    color: inherit;
    right: 0;
    text-align: center;
    padding-right: 0;
    transform: translateX(100%);
  }

  .nav-container li {
    display: flex;
    justify-content: center;
    padding: 0.2em 0;
  }

  .nav-container a {
    padding: 0.7em 4em;
  }

  .nav-container a.active {
    background: #c6d4d4;
    color: #000;
  }

  .btn-toggle {
    transform: translateX(0%);
    transition: transform 350ms ease-out;
  }

  .nav-btn {
    display: block;
    top: 0;
    right: 0;
    z-index: 10000;
    padding: 0.7em;
    background: #071417;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav-btn path {
    fill: #c6d4d4;
    stroke: #c6d4d4;
  }

  .position-fixed {
    position: fixed;
  }

  .site-header ul {
    flex-direction: column;
  }

  .site-nav {
    padding-top: min(20vh, 5em);
  }
}

/* ***************************************************************** */
/*                           SIGNUP/LOGIN PAGE                       */
/* ***************************************************************** */

.singup-form-container,
.login-form-container {
  width: 90%;
  max-width: 490px;
  margin: 3em auto 1em;
  background: #c6d4d4;
  color: #071417;
  padding: 1em;
  border-radius: 5px;
}

.singup-form-container form,
.login-form-container form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em 0;
}

.singup-form-container h1,
.login-form-container h1 {
  margin: 0.6em auto;
}

.signup-button,
.login-button {
  background: #071417;
  color: #c6d4d4;
  width: 80%;
  max-width: 200px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  padding: 1em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.login-button {
  margin-top: 3em;
}

.signup-button:hover,
.signup-button:focus,
.login-button:hover,
.login-button:focus {
  background: #000;
  color: #f6fbf4;
}

.singup-form-container input,
.login-form-container input {
  background: #c6d4d4;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-bottom: 1px solid #000;
  font-size: 1rem;
}

.signup-error-msg,
.login-error-msg {
  display: flex;
  justify-content: flex-start;
  background: rgb(255 5 0 / 49%);
  padding: 1em;
  border: 2px solid #900;
  border-radius: 5px;
}

.signup-error-sign,
.login-error-sign {
  width: 3em;
  margin-right: 0.5em;
}

.button-disable {
  cursor: not-allowed;
  opacity: 0.6;
}

.signup-loading-msg,
.login-loading-msg {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  background: #c6d4d4;
  padding: 1em;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.2),
    0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ***************************************************************** */
/*                               HOME PAGE                           */
/* ***************************************************************** */

.home-search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #071417;
  padding: 0.5em 0.5em 1.3em;
  position: sticky;
  top: 0;
}

.home-search-container {
  display: flex;
  width: 95%;
  max-width: 680px;
}

.home-search-bar {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.5em 0.7em;
  border: none;
  background: #c6d4d4;
}

.home-search-button {
  background: #c6d4d4;
  color: #000;
  border: none;
  border-left: 2px solid #000;
  padding: 0.5em;
  font-size: 1.1rem;
  cursor: pointer;
}

.home-show-filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1em 0;
  width: 95%;
  max-width: 680px;
}

.home-show-filter-button {
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 0.3em;
  color: #c6d4d4;
  background: #071417;
  border: none;
  padding: 0;
  font-size: 0.95rem;
  cursor: pointer;
}
